
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: center;
}

.form {
    width: 460px;
    height: 450px;
    border: 1px solid;
    padding: 32px;
    border-radius: 5px;
}

.label {
    margin-bottom: 5px;
}

.form-group, .btn, a {
    margin-bottom: 32px;
}

.btn {
    width: 100%;
}