
* {
    box-sizing: border-box;
}

:root {
    --background: linear-gradient(90deg, #2b5876, #3b74c0);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: var(--background);
}

.form {
    background: white;
    width: 360px;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.3);
}

.form-control {
    padding: 8px 12px;
}

.label {
    margin-bottom: 5px;
}

.form-group, .btn, .olvido, h1 {
    margin-bottom: 32px;
}

.olvido:hover {
    color: rgb(236, 113, 82);
    cursor: pointer;
}

.btn {
    background-color: #3b74c0;
    color: white;
    width: 100%;
}

button.btn:hover {
    background-color: #266dc9;
    color: white;
}

@media (max-width: 450px) { 
    .form {
        background: white;
        width: 90%;
        padding: 16px;
        border-radius: 5px;
        box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.3);
    }
}